  
.jumbotron{
  background-color: #343a40;
  text-align: center;
  font-weight: bold;
  color: #117a8b;
  font-family: 'Biome', 'Trebuchet MS', 'Arial', 'sans-serif'
}

#city-name{
  font-size: 40px;
}